.profile {
  position: relative;
  width: 55vw;
  padding: 40px 40px;
  background-color: var(--bgSoft);

  .pic-container {
    position: relative;
    width: 100%;
    height: 50vh;

    .cover-pic {
      position: absolute;
      top: 0;
      width: 100%;
      height: 30vh;
      border-radius: 6px;
    }

    .profile-pic-name {
      position: absolute;
      right: 50%;
      width: 40%;
      height: 20vh;
      bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateX(50%);
      z-index: 888;

      .profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 10px solid var(--bgSoft);
      }

      span {
        font-size: 20px;
        font-weight: bold;
        color: var(--textColorSoft);
      }
    }
  }

  .page-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    width: 50%;

    .numbers {
      display: flex;
      gap: 20px;

      .section{

        .number {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          font-size: 22px;
          font-weight: bold;
          color: var(--textColorSoft);
        }
        .title {
          font-size: 12px;
          color: gray;
          font-weight: bold;
          letter-spacing: 1px;
          transition-duration: 0.4s;
        }
      }
      .section:hover .title{
        color: var(--secondary-color);
      }
    }
    .comunication {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .message {
        padding: 5px 60px;
        border-radius: 12px 2px 2px 12px;
        border: 2px solid var(--border);
        color: var(--textColorSoft);
        font-weight: bold;
        font-size: 13px;
        transition-duration: 0.4s;
      }
      .message:hover{
        color: var(--secondary-color);
        border-color: var(--secondary-color);
      }
      button.follow {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        border: 2px solid var(--border);
        padding: 5px;
        margin: 0 2px;
        font-size: 13px;
        cursor: pointer;
        background-color: var(--bgSoft);
        color: var(--textColorSoft);
        transition-duration: 0.4s;
      }
      button.follow:hover{
        color: var(--secondary-color);
        border-color: var(--secondary-color);
      }
      button.more {
        border: 2px solid var(--border);
        border-radius: 2px 12px 12px 2px;
        padding: 5px;
        font-size: 12px;
        cursor: pointer;
        color: var(--textColorSoft);
        background-color: var(--bgSoft);
        transition-duration: 0.4s;
      }
      button.more:hover{
        color: var(--secondary-color);
        border-color: var(--secondary-color);
      }
    }
  }

  .friends {
    padding: 15px;
    margin-top: 30px;
    height: 30vh;
    width: 100%;

    ul {
      display: flex;
      gap: 20px;
      justify-content: right;
      position: sticky;

      li {
        position: relative;
        width: 150px;
        height: 175px;
        cursor: pointer;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 12px;
        }

        span {
          position: absolute;
          bottom: 5px;
          left: 5px;
          z-index: 999;
        }
      }
    }
  }
}
