.loading-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}

.dot{
    margin: 0 10px;
    width: 15px;
    height: 15px;
    background-color: var(--secondary-color);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    opacity: 0.8;
}

.dot-one{
    animation: loading-dot 0.7s linear infinite;
}

.dot-two{
    animation: loading-dot 0.7s linear infinite;
    animation-delay: 0.1s;
}

.dot-three{
    animation: loading-dot 0.7s linear infinite;
    animation-delay: 0.2s;
}

@keyframes loading-dot {
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-15px);
    }
    75%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}