.update-profile {
  position: relative;
  width: 55vw;
  padding: 40px 40px;
  background-color: var(--bgSoft);

  span.title {
    display: block;
    text-align: center;
    width: 100%;
    height: 10vh;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    color: var(--textColorSoft);
  }

  form {
    .update-img {
      position: relative;
      width: 100%;
      height: 50vh;

      .update-cover-pic {
        position: absolute;
        top: 0;
        width: 100%;
        height: 30vh;
        border-radius: 6px;
      }

      .input-cover-pic {
        display: none;
      }

      .label-cover-pic {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--bgSoft);
        color: var(--textColorSoft);
        cursor: pointer;
        z-index: 888;

        i.icon-update-cover-pic {
          font-size: 20px;
          font-weight: bold;
        }
      }

      .update-profile-pic-name {
        position: absolute;
        right: 50%;
        width: 40%;
        height: 23vh;
        bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(50%);
        z-index: 888;

        .update-profile-pic {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          border: 10px solid var(--bgSoft);
        }

        .input-profile-pic {
          display: none;
        }

        .label-profile-pic {
          position: absolute;
          bottom: 25px;
          right: 100px;
          padding: 5px;
          border-radius: 50%;
          background-color: var(--bgSoft);
          color: var(--textColorSoft);
          cursor: pointer;
          z-index: 888;

          i.icon-update-profile-pic {
            font-size: 20px;
            font-weight: bold;
          }
        }

        span.update-name {
          font-size: 20px;
          font-weight: bold;
          color: var(--textColorSoft);
        }
      }
    }
    .update-info {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .field {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        input.input-update-info {
          padding: 10px 15px;
          border: none;
          border-radius: 4px;
          background-color: white;
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
          width: 40vh;
        }

        label.label-update-info {
          color: var(--textColorSoft);
          font-size: 15px;
        }
      }

      .error-update {
        color: red;
        font-size: 14px;
        margin: 10px 0 15px;
      }
    }

    button.update {
      padding: 10px 20px;
      width: 30vh;
      border-radius: 20px;
      border: none;
      margin: 40px auto 0;
      color: white;
      background-color: var(--secondary-color);
      font-weight: bold;
      cursor: pointer;
      display: block;
    }
  }
}
